* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background:url(../img/background.jpg);
    /**background-attachment:fixed;**/
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}



.center-div
{
position: absolute;
margin: auto;
top: 0;
right: 0;
bottom: 0;
left: 0;
width: 90%;
height: 70%;
background-color: #ccc;
}

.menu{
background-color: #fe0077;
height: 65px;
}

.footer {
position: fixed;
bottom: 0;
width: 100%;
}

.images{
padding-bottom: 5px;

}

.floating-box {
display: inline-block;
width: 70px;
height: 75px;
margin-left:  10px;
margin-right:  10px;
}

.menu1{
float: left;
width:50%;
height: 40%;
background-color: #fb9b00;
}

.menu2{
float: left;
width:50%;
height: 20%;
background-color: #fe0077;
}


.menu3{
float: left;
width:50%;
height: 20%;
background-color: #008461;
}

.menu4{
width:100%;
height: 40%;
background-color: #84d043;
}

.break{
clear: both;
}


.menu5{
float: left;
width:50%;
height: 20%;
background-color: #004a96;
}


.menu6{
float: left;
width:50%;
height: 20%;
background-color: #00aef3;
}


.titles{
  font-weight: bold;
  font-size: 1.4em;
  color: #FFF;
}

.titledivision{
  padding-top: 2%;
  padding-left: 2%;
  padding-bottom: 4%;
}


.titledivisionside{
  padding-top: 2%;
  padding-left: 2%;
}

.imagemenu{
  width: 77%;
  display: block;
  margin: auto;
}


.imagemenumain{
  width: 50%;
  display: block;
  margin: auto;
  margin-top: -10%;
}

.hack{
  width: 40%;
  float: right;
  margin-top: -8%
}

.imagemenuside{
  width: 40%;
  float: right;
  margin-top: -10%
}

.menuitem1{
  float: left;
  width: 16%;
}


.menuitem2{
  float: left;
  width: 16%;
  margin-left: 30%;
}

.menuitem3{
  float: right;
}



/*foroyeventos*/
.floatleft{
  float: left;
  margin-left: -5%;
}

.floatright{
  float: right;
  margin-right: -5%;
}


.submenu{
  width: 100%;
  margin-top: -4%;
  margin-bottom: 1%;
}

.pinkbox{
  padding: 2%;
  background-color: #fe0077;
}

.separator{
  margin-bottom: 5%;
}


.greenicon{
  /*background-color: #005b2c !important;*/
  background-color: rgb(0, 91, 44) !important;
}

.yellowicon{
  background-color: #f7a412 !important;
}

.pinkicon{
  /*background-color: #f61a92 !important;*/
    background-color: rgb(207, 21, 145) !important;
}

.purpleicon{
  background-color: #670068 !important;
}

.modal{
  top: 40% !important;
}

#myCarousel .left{
margin-left: -7% !important;
}
#myCarousel .right{
margin-right: -7% !important;
}

#myCarousel1 .left{
margin-left: -7% !important;
}
#myCarousel1 .right{
margin-right: -7% !important;
}

#myCarousel2 .left{
margin-left: -7% !important;
}
#myCarousel2 .right{
margin-right: -7% !important;
}

#myCarousel3 .left{
margin-left: -7% !important;
}
#myCarousel3 .right{
margin-right: -7% !important;
}


.graficomenu{
float: left;
width:100%;
height: 40%;
}


.titlegraficomenu{
  margin-top: -14%;
  font-size: 0.8em;
  color: #FFF;
  text-align: center;
}


.minheight{
  height: 150px;
}


.multi-item-carousel{
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
        left:-33%;
      }
      &.right{
        left:33%;
      }
    }
    .next{
      left: 33%;
    }
    .prev{
      left: -33%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        // use your favourite prefixer here
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carouse-control{
    &.left, &.right{
      background-image: none;
    }
  }
}

// non-related styling:
body{
  background: #333;
  color: #ddd;
}
h1{
  color: white;
  font-size: 2.25em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 1);
}


.calendarelement{
text-align:center;
padding:5px;
color: #FFF;
}


.calendarelementtitle{
  font-size: 2em;
}

.separate{
  margin-right: 2%;
}


a {
    color: #FFF !important;
    text-decoration: none;
}

a:hover{
     color:#FFF;
     text-decoration:none;
}


a:link
{
   color: #FFF;
   text-decoration:none;
}

a:active{
   color: #FFF;
   text-decoration:none;
}

.slick-prev:after {
   content: ">";
   color: red;
   font-size: 30px;
}

.slick-next:before {
   content: "<";
   color: red;
   font-size: 30px;
}



/* maps */

.ampliarmapa{
  background-color: #ba005f !important;
  border-radius: 20px !important;
  z-index: 2000 !important;
  text-decoration: none;
}

.headergreen{
  background-color: #659a21;
  color: #FFF;
}

.bodygray{
  background-color: #f4f4f4;
  color: #83858e;
}

.upper{
  margin-top: -5% !important;
}

/* gastronomia*/

.bordergastronomia{
  border-bottom: 0px solid #e6ad2a;
  border-top: 20px solid #e6ad2a;
  border-left: 20px solid #e6ad2a;
  border-right: 20px solid #e6ad2a;
}


.titlegastronomia{
  color: #e6ad2a;
  font-weight: bold;
  font-size: 2em !important;
}

.titlegastronomiathin{
  color: #e6ad2a;
  font-size: 1.5em !important;
  text-align: center;
}
.grayfont{
    color: #83858e;
}
